.Toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0px 16px;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    background-color:rgb(120, 203, 236);
    text-decoration-color: white;
    border-bottom: 1px solid black;
    box-shadow: 0px 2px 0px gray;
}

.Toolbar div {
    color: white;
}

.source{
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    height: 80px;
    padding-top: 6px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
}

.github{
    text-align: center;
    margin:auto;
    width: 70%;
}


.text{
    font-size: 32px;

}

.logo{
    margin:auto;
    padding-left: 16px;
}

