.Toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0px 16px;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    background-color:rgb(120, 203, 236);
    text-decoration-color: white;
}

.Toolbar div {
    color: white;
}